@use '../base/variables' as v;
@use '../base/theme' as t;
@use '../base/mixins' as m;
@use '../base/theme' as t;

body{
  background-color: t.$primary-color;
}

#photos-showcase{


    h3{
      background-color: t.$secondary-color; /* El último valor (0.5) representa la opacidad (50%) */
      color: white; 
}

}

.photo-set{
    
    
display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Ejemplo de tres columnas con tamaños flexibles */
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;

}

.photo-set{
  
  img{
    width: 35rem;
    height: 20rem;
    object-fit: cover;
    transition: transform 0.3s;
  }

  img:hover{
    transform: scale(2); 
  }

  span{
    visibility: hidden;
  }

  span:hover{
      visibility: visible;
  }
  
}

.photo-set{
  
  }

.photo-set>figure>span{
  
}

.photo-set>figure>span:hover{
  
}

@mixin phone {
  @media (min-width: v.$device-phone) {
      @content;
  }
}


@mixin desktop {
  @media (min-width: v.$device-laptop) {
      @content;
  }
}

@mixin maxTablet {
  @media (max-width: v.$device-tablet) {
      @content;
  }
}

@mixin maxDesktop {
  @media (max-width: v.$device-laptop) {
      @content;
  }
}